
<div class="sorting-homepage">
    <h1><ul>Which Sorting Would you Like!!!!</ul></h1>
  
    <div class="button-container">
      <a routerLink="/sorting/sort-expense-in-asc" class="btn">Expense Ascending Sorting</a>
      <a routerLink="/sorting/sort-expense-by-date"  class="btn">Expense Date Sorting</a>
      <a routerLink="/sorting/sort-expense-in-des" class="btn">Expense Descending Sorting</a>
      <a routerLink="/sorting/sort-income-by-date" class="btn">Income Date Sorting</a>
      <a routerLink="/sorting/sort-income-in-asc" class="btn">Income Ascending Sorting</a>
      <a routerLink="/sorting/sort-income-in-des" class="btn">Income Descending Sorting</a>

    </div>
  </div>
